/* ************************* */
/* Gerenral Components */
/* ************************* */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Write variables here */
  font-size: 62.5%;
  overflow-x: hidden;

  /* Not working on Safari */
  scroll-behavior: smooth;
}

body {
  font-family: "Rubic", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.container {
  /* 1140px common view port screen view */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
/* general Grid class */
.grid {
  display: grid;
  column-gap: 4.8rem;
  row-gap: 9.6rem;
}
/* specific grid for footer */
.grid-footer {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* Grid to center vertically  */
.grid--center-v {
  align-items: center;
}
/* Grid to center horizontally  */
.grid--center-h {
  justify-content: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 4.4rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 6.4rem;
}

.sub-heading {
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  color: #5b622a;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.5rem;
}

.heading-reuse {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.hero-grid {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

strong {
  font-weight: 600;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem hsla(69, 40%, 27%, 0.504);
}
