/*
Layout rules
--- Typography 01 - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
--Fonts Weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

-- Line Heights: 
Default: 1, 1.2

-- Line Spacing:
0.5px
0.75px

--- 02 COLORS
Primary :  #e6d3a3, #d8d174, #b6c454, #91972a
GREY :     #444 #555 #333
TINTS :    #f8f9ee
SHADES :   #5b622a
ACCENT :   
Tags:      #da77f2 , #40c057 , #a9e34b

--- 03 Shadows
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 04 Border-Radius
small: 9px
medium: 11px



--- 05 Whitespace - SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

/* ************************* */
/* Global */
/* ************************* */

/* ************************* */
/* Heading */
/* ************************* */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9ee;
  position: relative;

  padding: 0 4.8rem;
  height: 9.6rem;
}

.logo {
  height: 16.3rem;
}

/* ************************* */
/* Navigation */
/* ************************* */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #555;
  font-weight: 600;
  font-size: 1.8rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #91972a;
}

.main-nav-link.nav-cta-btn:link,
.main-nav-link.nav-cta-btn:visited {
  background-color: #91972a;
  padding: 1rem 3.2rem;
  color: #f8f9ee;
  border-radius: 1rem;
}

.main-nav-link.nav-cta-btn:hover,
.main-nav-link.nav-cta-btn:active {
  background-color: #b6c454;
}

.btn-mobile-nav {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  color: #333;
  width: 4.8rem;
  height: 4.8rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* ************************* */
/* Hero Section */
/* ************************* */

.section-hero {
  /* max-width: 130rem; */
  background-color: #f8f9ee;
  padding: 3.2rem 0 4.8rem 0;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.hero-heading {
  font-size: 5.2rem;
  color: #555;
  line-height: 1.05;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
  font-weight: 700;
}

.hero-desc {
  font-size: 2rem;
  line-height: 1.4;
  color: #555;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 1rem;
  padding: 1.6rem 3.2rem;
  box-shadow: 0 0 1px 0px #5b622a; /* you can add the inset keyword*/
  transition: background-color 0.3s;
}

.hero-cta-btn:link,
.hero-cta-btn:visited {
  color: #fff;
  background-color: #91972a;
}

.hero-cta-btn:hover,
.hero-cta-btn:active {
  background-color: #b6c454;
}

.hero-learn-btn:link,
.hero-learn-btn:visited {
  background-color: #fff;
  color: #555;
}

.hero-learn-btn:hover,
.hero-learn-btn:active {
  background-color: #f8f9ee;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #91972a;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:active,
.link:hover {
  color: #b6c454;
  border-bottom: 1px solid transparent;
}

/* ************************* */
/* Main */
/* ************************* */

.del-meals {
  display: flex;
  align-items: center;
  margin-top: 9.6rem;
  gap: 1.6rem;
}

.del-images {
  display: flex;
}

.del-images img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  border: 3px solid #f8f9ee;
  margin-left: -1.6rem;
}

.del-text p {
  font-size: 1.8rem;
  font-weight: 600;
}

.del-text p span {
  color: #91972a;
  font-weight: 700;
}

/* ************************* */
/* AS Featured IN Section */
/* ************************* */
.featured {
  padding: 2.4rem 0 6.4rem 0;
}
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.heading-featured {
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  font-weight: 500;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}
/* ************************* */
/* How it works Section */
/* ************************* */

.how {
  padding: 9.6rem;
  position: relative;
}

.step-num {
  font-size: 8.6rem;
  color: #ddd;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.how-step-desc {
  font-size: 1.8rem;
  line-height: 1.8;
}

.how-step-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-step-img-box::before,
.how-step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
}
.how-step-img-box::before {
  width: 60%;
  /* height: 60%; */
  padding-bottom: 60%;
  background-color: #b5c4541c;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  z-index: -2;
}

.how-step-img-box::after {
  width: 50%;
  /* height: 60%; the trick if it didn't show to do padding-bottom same as width to make it square */
  padding-bottom: 50%;
  background-color: #b5c4541c;
  z-index: -1;
}

.how-step-img {
  width: 40%;
  border-radius: 5%;
}
.extra-radius {
  border-radius: 11%;
}

/* ************************* */
/* Meals Section */
/* ************************* */

.meals {
  padding: 9.6rem;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-0.6rem);
  box-shadow: 0 6.8rem 9.8rem rgba(0, 0, 0, 0.05);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.tag {
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 100px;
  padding: 0.4rem 0.8rem;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.5rem;
}

.tag--keto {
  background-color: #da77f2;
}

.tag--vegeterian {
  background-color: #40c057;
}

.tag--vegan {
  background-color: #a9e34b;
}

.meal-title {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.meal-item {
  display: flex;
  gap: 11px;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #91972a;
}

.meal-photo {
  width: 100%;
}

.diet-content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.all-recipes {
  /* text-align: center; */
  margin-top: 3.2rem;
  font-size: 1.8rem;
}

/* ************************* */
/* Testimonials Section */
/* ************************* */

.testimonials {
  background-color: #f8f9ee;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 9.6rem;
}

.testi-heading {
  padding: 9.6rem 9.6rem 0 9.6rem;
  /* padding-bottom: 0; */
}
.testi-all {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
  padding: 4.8rem;
}

.testi-img {
  width: 8rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testi-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testi-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  /* padding: 1.6rem; */
}

.gallery-img {
  overflow: hidden;
}

.gallery-img img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-img img:hover {
  transform: scale(1.1);
}

/* ************************* */
/* Pricing Section */
/* ************************* */

.pricing {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 9.6rem;
}

.pricing-heading {
  padding: 4.8rem 9.6rem 0 9.6rem;
}

.pricing-plan-starter {
  justify-self: end;
  border: 1px solid #91972a;
  padding: 2.4rem;
}

.pricing-plan {
  border-radius: 5px;
  width: 100%;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #91972a;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #6f6f6f;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #91972a;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.btn--full:link,
.btn--full:visited {
  background-color: #91972a;
  color: #fff;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  flex: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.pricing-plan-complete {
  background-color: #f8f9ee;
  padding: 2.4rem;
  position: relative;
  overflow: hidden;
  box-shadow: 22 13 65 rgba(0, 0, 0, 0.075);
}

.pricing-plan-complete::after {
  content: "Best offer";
  position: absolute;
  top: 6%;
  right: -20%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #b6c454;
  padding: 0.8rem 6.4rem;
  transform: rotate(45deg);
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/* ************************* */
/* Call to Action Section */
/* ************************* */

.cta-to-action {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 2fr;
  background-color: #f8f9ee;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.045);
  /* border-radius: 5px; */

  background-image: linear-gradient(to bottom, #f4f5ea8a, #dee0bf7f);
  overflow: hidden;

  /* margin-bottom: 4.8rem; */
}

.cta-text-box {
  padding: 6.4rem;
  color: #2e1907;
}

.cta .heading-secondary {
  color: inherit;
}

.cta-text-box p {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to top,
      hsla(68, 27%, 94%, 0.454),
      hsla(64, 30%, 91%, 0.187)
    ),
    url(../img/Lady\ cooking.jpg);
  background-size: cover;
  background-position: top;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  line-height: 1.8;
  font-size: 1.8rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  color: inherit;
  border-radius: 5px;
  background-color: #f8f9ee;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.btn-form {
  border: none;
  cursor: pointer;
  padding: 1.3rem;
  font-family: inherit;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
  background-color: #91972a;
  border-radius: 5px;
  align-self: end;
}
.btn-form:hover,
.btn-form:active {
  background-color: #b6c454;
  color: #f8f9ee;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem hsla(65, 88%, 20%, 0.503);
}

/* ************************* */
/* Footer Section */
/* ************************* */

.footer {
  padding: 9.6rem;
  background-color: #f8f9ee;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.copyright {
  margin-top: auto;
  font-size: 1.4rem;
  line-height: 1.2;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.contact {
  font-size: 1.8rem;
  font-style: normal;
  line-height: 1.6;
}
.contact .address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link,
.footer-link:link,
.footer-link:visited {
  color: inherit;
  text-decoration: none;
  font-size: 1.6rem;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.copyright-social {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social-links {
  margin: 4.8rem 0 2.4rem 0;
  list-style: none;
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

.footer-link-ph-email .footer-link {
  color: inherit;
}
